@page "/divisionselect/{MachineName}"
@layout EmptyLayout
@rendermode InteractiveServer
@inject IGenericService<Division> serviceDivision
@using Berlin.Infrastructure
@inject NavigationManager NavigationManager

<PageTitle>Selectare Divizie</PageTitle>
<div class="align-content-center p-5">
    <h1 class="fs-5">Selectare diviziei curente</h1>
    <hr />
    <div class="row mb-2" style="margin:2vh;">
        @if (divisions is null)
        {
            <p>Se încarcă...</p>
        }
        else
        {
            @foreach (var item in divisions)
            {
                <div class="col-md-2 d-block align-items-center justify-content-center text-center">
                    @if (item != null)
                    {
                        <img src="Servicii.jpg" alt="mdo" width="150" height="150" class="rounded-circle p-2" @onclick="() => Select(item)">
                        <div class="strong">@item.Title</div>
                        @* <small>@item.Description</small> *@
                    }
                </div>
            }
        }
    </div>
</div>

@code {

    [Parameter]
    public string MachineName { get; set; }

    private Site? site { get; set; }
    private List<Division>? divisions { get; set; }

    protected override async Task OnInitializedAsync()
    {
        site = Utile.GetSite(MachineName);

        if (site?.Divisions != null)
        {
            foreach (var su in site.Divisions)
            {
                if (su.Division == null)
                {
                    try
                    {
                        su.Division = await serviceDivision.Find(su.DivisionId);
                    }
                    catch (Exception ex)
                    {
                        Console.Error.WriteLine($"Eroare la încărcarea diviziei: {ex.Message}");
                    }
                }
            }

            divisions = site.Divisions.Select(s => s.Division).ToList();
        }
    }

    void Select(Division selected)
    {
        Utile.SetSessionData(selected, MachineName);

        NavigationManager.NavigateTo($"/pos/{MachineName}");
    }
}
